<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-3 col-lg-6">
      <div class="form-login">
        <h2>Log in</h2>
<%= simple_form_for :sessions, :url => sessions_path, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: "Email" %>
            <%= f.input :password, required: true, placeholder: "Password" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-success"  %>
          </div>
        <% end %>
        <h4 class= "register-title"> Need to Register?</h4>
        <%= image_tag('teacher.png', class: "skill-show-icon") %>
        <%= link_to "Register as a Teacher", new_user_path(resource, role: "teacher") %><br />
        <%= image_tag('category.png', class: "skill-show-icon") %>
        <%= link_to "Register as a Student", new_user_path(resource, role: "student") %><br />
      </div>
    </div>
  </div>
</div>
