<%= simple_form_for(@skill) do |f| %>
  <%= f.error_notification %>
  <div class="new-skill-form-inputs">
    <%= f.input :name, label: "Name of Topic:", placeholder: "Dancing, Math Tutor, etc.." %>
    <%= f.input :price, label: "Price Per Hour", placeholder: "Cost" %>
    <%= f.input :description, label: "Lesson Description:", placeholder: "",:input_html => {:rows => 10,:style =>"resize:none"}%>
    <%= f.input :location, label: "Class Location:", placeholder: "New York, New York" %>
    <%= f.input :availability, label: "Time of Availability", placeholder: "Monday through Friday"%>
    <%= f.input :category, placeholder: ".."%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary", id: "new-skill-btn"%>
  </div>
<% end %>



<!-- <%= form_with(model: @skill, local: true) do |f| %>
  <div class="new-skill-form-inputs">
            <div class="form-inputs">
  <%= react_component 'PostForm', { skill: @skill } %>
  </div>
  </div>
<% end %> -->
